body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top-menu ul li {
    float: left;
}

.top-menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-menu ul li a:hover {
    background-color: #111;
}

.container {
    text-align: center;
/*    display: flex;*/
}

.homepage {
    text-align: left;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar ul li a:hover {
    background-color: #ddd;
}

.content {
    flex-grow: 1;
    padding: 15px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    color: #555;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #06f;
}
